@model IEnumerable<string>

<a class="btn btn-block btn-dark"
   asp-controller="Shop"
   asp-action="Index"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-dark": "btn-outline-dark")"
       asp-controller="Shop"
       asp-action="Index"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}